.moveRight{
  margin-left: 10vw;
}

.formBody{
  margin-top: 20vh;
  border: solid black;
  background-color: #202630;
  color: white;
  width: 25vw;
}

.bodyBackground{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://assets.kompasiana.com/items/album/2020/02/21/brooke-lark-08boynh-r-e-unsplash-5e500bc3d541df465c7c8682.jpg?t=o&v=740&x=416");
}

@media screen and (max-width: 1370px) {
.formBody{
  margin-top: 20vh;;
  border: solid black;
  background-color: #202630;
  color: white;
  width: 100%;
}
.moveRight{
  margin-left: 70vw;
}
}